.custom-nav {
  background-color: #1d3557 !important; /* dark navy like screenshot */
  padding: 0.7rem 1.5rem;

  .navbar-brand {
    font-weight: 600;
    font-size: 1.2rem;
    color: white !important;
  }

  .nav-link {
    color: white !important;
    margin-right: 1rem;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  app-logout {
    color: white !important;
    cursor: pointer;
    font-weight: 500;
  }
}